/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /*Colors*/
    --color-background:  #F9F5F1;

    --color-dark-button: #B7AD91;
    --color-light-button: #D8D8D8;

    --color-level-1: #FF906F;
    --color-level-2: #FFB67E;
    --color-level-3: #F8EE7F;
    --color-level-4: #ABEB58;
    --color-level-5: #65DC5F;

    --color-text: #000000;

    --color-focus: #7f775f;

    --global-transitionTiming-alpha: .1s ease-out;

    /* Baseline settings */
    --global-baseline: .5rem;
    --global-whitespace: calc(var(--global-baseline) * 3);
    /* = 24px */
    --global-whitespace-xs: calc(var(--global-baseline) / 2);
    /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1);
    /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2);
    /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4);
    /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2);
    /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3);
    /*  = 72px */
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;

    color: var(--color-text);
    background-color: var(--color-background);
}


*,
*:before,
*:after {
    box-sizing: inherit;
}


::selection {
    background: var(--color-dark-button);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: calc(var(--global-baseline) * 6);
    margin: 0 0 var(--global-whitespace);
}

h2 {
    font-size: 2rem;
    line-height: calc(var(--global-baseline) * 5);
    margin: 0 0 var(--global-whitespace);
}

h3 {
    font-size: 1.625rem;
    line-height: calc(var(--global-baseline) * 4);
    margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(var(--global-baseline) * 3);
    margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace);
}

ul,
ol {
    padding-left: var(--global-whitespace);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.4375rem;
    line-height: calc(var(--global-baseline) * 6);
    margin: 0 0 var(--global-whitespace);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: .75rem;
    line-height: calc(var(--global-baseline) * 2);
    margin-top: var(--global-whitespace-xxs);
}

hr {
    border: 0;
    height: var(--global-borderWidth);
    background: LightGrey;
    margin: 0 0 var(--global-whitespace);
}

a,
a:visited {
    transition: all var(--global-transitionTiming-alpha);
    color: hotpink;
    outline-color: var(--global-link-BoxShadowColor);
    outline-width: medium;
    outline-offset: .125rem;
}

a:hover,
a:focus {
    color: var(--color-focus);
}

a:active {
    color: cadetblue;
}

label,
input {
    display: block;
}

input::placeholder {
    color: purple;
}

button{
    font-weight: 300;
    font: inherit;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    display: flow-root;
    position: relative;
    padding: var(--global-whitespace) var(--global-whitespace) 0;
}


/* size modifiers */

.o-row--lg {
    padding-top: var(--global-whitespace-lg);
    padding-bottom: var(--global-whitespace);
}

@media (min-width: 768px) {
    .o-row {
        padding-left: var(--global-whitespace-lg);
        padding-right: var(--global-whitespace-lg);
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em;
    width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
    position: relative;
}

.o-section+.o-section {
    padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {

    .o-section--lg+.o-section--lg,
    .o-section--xl+.o-section--xl {
        padding-top: var(--global-whitespace-lg);
    }
}

@media (min-width: 992px) {
    .o-section--xl+.o-section--xl {
        padding-top: var(--global-whitespace-xxl);
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -0.75rem;
}

.o-layout--gutter>.o-layout__item {
    padding: 0 .75rem;
}

.o-layout--gutter-sm {
    margin: 0 -0.375rem;
}

.o-layout--gutter-sm>.o-layout__item {
    padding: 0 .375rem;
}

.o-layout--gutter-lg {
    margin: 0 calc(var(--global-whitespace) * -1);
}

.o-layout--gutter-lg>.o-layout__item {
    padding: 0 var(--global-whitespace);
}

.o-layout--gutter-xl {
    margin: 0 calc(var(--global-whitespace-lg) * -1);
}

.o-layout--gutter-xl>.o-layout__item {
    padding: 0 var(--global-whitespace-lg);
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    /* -webkit-appearance: none; */
}

/**************************************************************************************************
    Object: Hide accessible
    ---
    Accessibly hide any element
***************************************************************************************************/

.o-hide-accessible {
    position: absolute;
    width: .0625rem;
    height: .0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
/*
    cat data
*/
.c-cat-data{
    /* display: block; */
    display: block;
    justify-content: center;
    align-items: center;
}

.c-cat-data__title{
    text-align: center;
}

.c-cat-data__info{
    display: flex;
}

.c-cat-data__img{
    object-fit: cover;
    object-position: center;
    height: 12.5rem;
    width: 12.5rem;
}

.c-cat-data__level{
    display: flex;
}

.c-profile{
    width: 17.5rem;
    padding: .5rem;
}

.c-cat-data__weight{
    padding: .625rem;
    width: 11.25rem;
}

/*
    toggle switch
*/
.c-switch-button {
    background: #a3997e8f;
    border-radius: 1.875rem;
    width: 15rem;
    height: 1.875rem;
    text-align: center;
    font-size: 1.125rem;
    letter-spacing: .0625rem;
    position: relative;
    padding-right: 7.5rem;
    position: relative;
}

.c-switch-button:before{
    content: "Kilogram";
    position: absolute;
    top: .125rem;
    bottom: 0;
    right: 0;
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}

.c-switch-button-checkbox{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.c-switch-button-checkbox:checked + .c-switch-button-label:before{
    transform: translateX(7.5rem);
    transition: transform 300ms linear;
}

.c-switch-button-checkbox + .c-switch-button-label{
    position: relative;
    padding: .9375rem 0;
    display: block;
    user-select: none;
    pointer-events: none;
}

.c-switch-button-checkbox + .c-switch-button-label:before{
    content: "";
    background: #fff;
    height: 1.875rem;
    width: 7.5rem;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1.875rem;
    transform: translateX(0);
    transition: transform 300ms;
}

.c-switch-button-label-span {
    position: relative;
    top: -0.75rem;
}

.c-switch-button-checkbox:focus-visible + .c-switch-button-label:before{
    border: var(--color-focus) solid .1875rem;
}

/**********************************************************/
/*
    button random cat
*/
.c-random-cat{
    height: 2.125rem;
    width: 8.75rem;
    border-radius: 3.125rem;
    background-color: var(--color-dark-button);
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125rem;
}

.c-random-cat:hover{
    background-color: #a3997e;
}

.c-random-cat:focus-visible{
    border: .25rem solid var(--color-focus);
    outline: none;
}

.c-random-cat:active{
    background-color: var(--color-focus);
}

/*
    levels cat characteristics
*/
.c-level{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.c-level__bar{
    width: 6.25rem;
    height: .75rem;
    justify-content: start;
}

.c-level__bar-1{
    width: 2.25rem;
    height: 1.25rem;
    background-color: var(--color-level-1);
    content: "";
}

.c-level__bar-2{
    width: 4.5rem;
    height: 1.25rem;
    background-color: var(--color-level-2);
    content: "";
}

.c-level__bar-3{
    width: 6.75rem;
    height: 1.25rem;
    background-color: var(--color-level-3);
    content: "";
}

.c-level__bar-4{
    width: 9rem;
    height: 1.25rem;
    background-color: var(--color-level-4);
    content: "";
}

.c-level__bar-5{
    width: 11.25rem;
    height: 1.25rem;
    background-color: var(--color-level-5);
    content: "";
}

/*
    show text level after hover
*/
.c-text{
    display: none;
    grid-column: 2/4;
    grid-row: 7;
    justify-self: center;
    font-size: 2.125rem;
}

.c-grid-item__4:hover + .c-text,
.c-grid-item__6:hover + .c-text,
.c-grid-item__8:hover + .c-text,
.c-grid-item__10:hover + .c-text{
    display: block;
}

:is(.c-grid-item__4, .c-grid-item__6, .c-grid-item__8, .c-grid-item__10):focus:not(:hover) + .c-text{
    display: block;
    outline: none;
}

/*
    css grid
*/
.c-grid-container{
    margin: 2.5rem 0rem;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr;
    grid-template-rows: 1fr 1fr .1fr .1fr .1fr .1fr .3fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}

.c-grid-item__1{
    grid-column: span 4;
    grid-row: 2;
}

.c-grid-item__2{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: span 4;
    grid-row: 1;
}

.c-grid-item__3{
    display: flex;
    justify-content: start;
    grid-column: span 2;
    grid-row: 3;
}

.c-grid-item__4{
    grid-column: span 2;
    grid-row: 3;
}

.c-grid-item__5{
    display: flex;
    justify-content: start;
    grid-column: span 2;
    grid-row: 4;
}

.c-grid-item__6{
    grid-column: span 2;
    grid-row: 4;
}

.c-grid-item__7{
    display: flex;
    justify-content: start;
    grid-column: span 2;
    grid-row: 5;
}

.c-grid-item__8{
    grid-column: span 2;
    grid-row: 5;
}

.c-grid-item__9{
    display: flex;
    justify-content: start;
    grid-column: span 2;
    grid-row: 6;
}

.c-grid-item__10{
    grid-column: span 2;
    grid-row: 6;
}

/*
    loading
*/
.c-loading{
    position: fixed;
    top: 20%;
    left: 47%;
}

.lds-dual-ring{
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after{
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: var(--color-dark-button) transparent var(--color-dark-button) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
    @media
*/

@media (min-width: 576px){
    .c-cat-data__img{
        height: 15.625rem;
        width: 15.625rem;
    }

    .c-profile{
        padding: .625rem;
    }

    .c-cat-data__weight{
        padding: .625rem;
    }

    .c-text{
        grid-row: 6;
    }

    .c-level__bar{
        width: 9.375rem;
        height: 1.5rem;
    }

    .c-level__bar-1{
        width: 3.125rem;
        height: 1.5rem;
    }

    .c-level__bar-2{
        width: 6.25rem;
        height: 1.5rem;
    }

    .c-level__bar-3{
        width: 9.375rem;
        height: 1.5rem;
    }

    .c-level__bar-4{
        width: 12.5rem;
        height: 1.5rem;
    }

    .c-level__bar-5{
        width: 15.625rem;
        height: 1.5rem;
    }

    .c-grid-container{
        margin: 2.5rem 0rem;
        display: grid;
        grid-template-columns: .5fr .5fr .5fr .5fr;
        grid-template-rows: 1fr .1fr .1fr .1fr .1fr .3fr;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
    
    .c-grid-item__1{
        grid-column: span 2;
        grid-row: 1;
    }
    
    .c-grid-item__2{    
        grid-column: span 2;
    }
    
    .c-grid-item__3{
        grid-row: 2;
    }
    
    .c-grid-item__4{
        grid-row: 2;
    }
    
    .c-grid-item__5{
        grid-row: 3;
    }
    
    .c-grid-item__6{
        grid-row: 3;
    }
    
    .c-grid-item__7{
        grid-row: 4;
    }
    
    .c-grid-item__8{
        grid-row: 4;
    }
    
    .c-grid-item__9{
        grid-row: 5;
    }
    
    .c-grid-item__10{
        grid-row: 5;
    }
}

@media (min-width: 768px){
    .c-level__bar{
        width: 12.5rem;
    }

    .c-level__bar-1{
        width: 2.125rem;
    }

    .c-level__bar-2{
        width: 4.25rem;
    }

    .c-level__bar-3{
        width: 6.375rem;
    }

    .c-level__bar-4{
        width: 8.5rem;
    }

    .c-level__bar-5{
        width: 10.625rem;
    }

    .c-text{
        grid-column: 1/5;
        grid-row: 4;
    }

    .c-data__profile{
        padding-right: .625rem;
    }
    
    .c-grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr .3fr .3fr;
    }

    .c-grid-item__2{
        grid-column: span 2;
    }

    .c-grid-item__3{
        justify-content: end;
        grid-column: 1;
    }

    .c-grid-item__4{
        grid-column: 2;
    }

    .c-grid-item__5{
        justify-content: end;
        grid-column: 3;
        grid-row: 2;
    }

    .c-grid-item__6{
        grid-column: 4;
        grid-row: 2;
    }

    .c-grid-item__7{
        justify-content: end;
        grid-column: 1;
        grid-row: 3;
    }

    .c-grid-item__8{
        grid-column: 2;
        grid-row: 3;
    }

    .c-grid-item__9{
        justify-content: end;
        grid-column: 3;
        grid-row: 3;
    }

    .c-grid-item__10{
        grid-column: 4;
        grid-row: 3;
    }
}

@media (min-width: 992px){
    .c-level__bar-1{
        width: 2.5rem;
    }

    .c-level__bar-2{
        width: 5rem;
    }

    .c-level__bar-3{
        width: 7.5rem;
    }

    .c-level__bar-4{
        width: 10rem;
    }

    .c-level__bar-5{
        width: 12.5rem;
    }

    .c-data__profile{
        padding-right: 3.75rem;
    }

    .c-grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr .3fr .3fr;
    }
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--global-color-neutral);
}

.u-color-neutral-dark {
    color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: var(--global-whitespace-xs) !important;
}

.u-mb-sm {
    margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
    margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
    margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
    margin-bottom: var(--global-whitespace-xl) !important;
}

.u-mb-xl {
    margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: .875rem;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    width: 16.6666666667% !important;
}

.u-5-of-6 {
    width: 83.3333333333% !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        width: 50% !important;
    }

    .u-1-of-3-bp1 {
        width: 33.3333333333% !important;
    }

    .u-2-of-3-bp1 {
        width: 66.6666666667% !important;
    }

    .u-1-of-4-bp1 {
        width: 25% !important;
    }

    .u-3-of-4-bp1 {
        width: 75% !important;
    }

    .u-1-of-5-bp1 {
        width: 20% !important;
    }

    .u-2-of-5-bp1 {
        width: 40% !important;
    }

    .u-3-of-5-bp1 {
        width: 60% !important;
    }

    .u-4-of-5-bp1 {
        width: 80% !important;
    }

    .u-1-of-6-bp1 {
        width: 16.6666666667% !important;
    }

    .u-5-of-6-bp1 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        width: 50% !important;
    }

    .u-1-of-3-bp2 {
        width: 33.3333333333% !important;
    }

    .u-2-of-3-bp2 {
        width: 66.6666666667% !important;
    }

    .u-1-of-4-bp2 {
        width: 25% !important;
    }

    .u-3-of-4-bp2 {
        width: 75% !important;
    }

    .u-1-of-5-bp2 {
        width: 20% !important;
    }

    .u-2-of-5-bp2 {
        width: 40% !important;
    }

    .u-3-of-5-bp2 {
        width: 60% !important;
    }

    .u-4-of-5-bp2 {
        width: 80% !important;
    }

    .u-1-of-6-bp2 {
        width: 16.6666666667% !important;
    }

    .u-5-of-6-bp2 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        width: 50% !important;
    }

    .u-1-of-3-bp3 {
        width: 33.3333333333% !important;
    }

    .u-2-of-3-bp3 {
        width: 66.6666666667% !important;
    }

    .u-1-of-4-bp3 {
        width: 25% !important;
    }

    .u-3-of-4-bp3 {
        width: 75% !important;
    }

    .u-1-of-5-bp3 {
        width: 20% !important;
    }

    .u-2-of-5-bp3 {
        width: 40% !important;
    }

    .u-3-of-5-bp3 {
        width: 60% !important;
    }

    .u-4-of-5-bp3 {
        width: 80% !important;
    }

    .u-1-of-6-bp3 {
        width: 16.6666666667% !important;
    }

    .u-5-of-6-bp3 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        width: 50% !important;
    }

    .u-1-of-3-bp4 {
        width: 33.3333333333% !important;
    }

    .u-2-of-3-bp4 {
        width: 66.6666666667% !important;
    }

    .u-1-of-4-bp4 {
        width: 25% !important;
    }

    .u-3-of-4-bp4 {
        width: 75% !important;
    }

    .u-1-of-5-bp4 {
        width: 20% !important;
    }

    .u-2-of-5-bp4 {
        width: 40% !important;
    }

    .u-3-of-5-bp4 {
        width: 60% !important;
    }

    .u-4-of-5-bp4 {
        width: 80% !important;
    }

    .u-1-of-6-bp4 {
        width: 16.6666666667% !important;
    }

    .u-5-of-6-bp4 {
        width: 83.3333333333% !important;
    }
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: .0625rem solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}